<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO Chat</title>
    <style>
        #chat {
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
            height: 400px;
            overflow-y: scroll;
        }
        #message {
            width: 200px;
        }
    </style>
</head>
<body>
    <h1>Flask-SocketIO Chat</h1>
    <div id="chat"></div>
    <input type="text" id="message" placeholder="Enter your message">
    <button onclick="sendMessage()">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io();

        const id = "0190ec5e-844f-4b97-99cc-439d3700c82b";
        const recipient = '0186ea4e-ba15-4ec5-aa49-9fe3a5ed5534'

        socket.on('connect', function() {
            var data = {id: id};
            socket.emit('register', data);
        });

        const room = "bc879031-9e80-4a0d-9d5b-155005ede43c";

        socket.emit('join', {id: id, room: room});

        socket.on('message', function(msg) {
            const chat = document.getElementById('chat');
            const message = document.createElement('p');
            message.textContent = msg;
            chat.appendChild(message);
        });

        socket.on('notification', function(data) {
            console.log(data);
        });

        function sendMessage() {
            const messageInput = document.getElementById('message');
            const message = messageInput.value;
            socket.emit('message', {room: room, message: message, authorId: id, recipientId: recipient});
            messageInput.value = '';
        }

        window.onbeforeunload = function() {
            socket.emit('leave', {id: id, room: room});
        };
    </script>
</body>
</html>